Repository piyush-bhatt/vite-vue-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --color --max-warnings 0, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,vue}": [
    "eslint --color --max-warnings 0",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ]
}

update github action workflow
  .github/workflows/build.yml
Due: none

add jest config
  jest.config.ts
  package-lock.json
  package.json
Due: eslint --color --max-warnings 0, prettier --write

add unit test and update action workflow
  .github/workflows/ci.yml
  README.md
  jest.config.ts
  tests/unit/components/HelloWorld.spec.ts
  vite.config.ts
Due: eslint --color --max-warnings 0, prettier --write

add eslint-plugin-jest
  .eslintrc
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: eslint --color --max-warnings 0, prettier --write

add component with unit tests
  package-lock.json
  package.json
  src/App.vue
  src/components/Button.vue
  src/components/HelloWorld.vue
  src/main.ts
  tests/unit/components/Button.spec.ts
  tests/unit/components/HelloWorld.spec.ts
  tsconfig.json
  vite.config.ts
Due: eslint --color --max-warnings 0, prettier --write

Deploying to gh-pages from @ piyush-bhatt/vue-ts-starter@236f790e539163f40b7e76e2c1e1e4b6a0f7331e 🚀
  assets/index.0ad8ab9b.css
  assets/index.ad775e8f.js
  assets/index.f792605a.css
  assets/index.ff5e31fa.js
  assets/vendor.054a8c8b.js
  assets/vendor.8039501c.js
  index.html
Due: eslint --color --max-warnings 0, prettier --write

update deploy script
  package.json
Due: eslint --color --max-warnings 0, prettier --write

add unit test to pre-commit hook
  .lintstagedrc
  tsconfig.json
Due: eslint --color --max-warnings 0, prettier --write

update REAME
  .eslintignore
  .vscode/extensions.json
  README.md
Due: eslint --color --max-warnings 0, prettier --write

Create LICENSE.md
  LICENSE.md
Due: prettier --write
